# CSC110 Fall 2020: Modules required to run this project.

# Testing and code checking
hypothesis
pytest
python-ta

# Graphics and data visualization
plotly~=4.9.0
numpy==1.19.3
pandas~=1.1.0
dash==1.17.0
statsmodels

scipy~=1.5.4
